body {
    font-family: arial, helvetica;
}

h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#section1 {
    color: #fff;
}

.section {
    height: 100vh;

}

.fp-section {
    text-align: center;
}

.fp-watermark {
    display: none;
}

#fp-nav ul li a span {
    background-color: #10BD7B;
}