.bg-darkgray {
    background-color: #202020 !important;
}

.rs-drawer-content {
    background-color: rgba(2, 4, 15, 0.95) !important;
    backdrop-filter: blur(10px) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.rs-drawer-header .rs-drawer-header-close {
    color: white;
}



.outfit-100 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.outfit-200 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.outfit-300 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.outfit-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.outfit-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.outfit-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.outfit-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.outfit-800 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.outfit-900 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}


.about-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#homeCv{
    text-decoration: none;
    text-decoration-line: none;
    color: #10BD7B;
}
#homeCv:hover{
    color: #202020;
}
#ProBtn{
    text-decoration: none;
    text-decoration-line: none;
    color: none;

}

